@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #ededed;

  --aero-tint-hue-saturation: 195deg 35%;

  --aero-tint-regular-lightness: 45%;
  --aero-tint-dark-lightness: 30%;
  --aero-tint-darkest-lightness: 7%;

  --font-open-sans: 'Open Sans';
}

@theme {
  --color-aero-tint: hsl(
    var(--aero-tint-hue-saturation) var(--aero-tint-regular-lightness)
  );
  --color-aero-tint-dark: hsl(
    var(--aero-tint-hue-saturation) var(--aero-tint-dark-lightness)
  );
  --color-aero-tint-darkest: hsl(
    var(--aero-tint-hue-saturation) var(--aero-tint-darkest-lightness)
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}
