@import 'tailwindcss';

:root {
  --background: #0a0a0a;
  --foreground: #f6f6f6;

  --aero-tint-hue-saturation: 210deg 40%;

  --aero-tint-regular-lightness: 40%;
  --aero-tint-dark-lightness: 30%;
  --aero-tint-darkest-lightness: 7%;
  --aero-tint-highlight-lightness: 60%;

  --font-open-sans: 'Open Sans';
}

@theme {
  --color-aero-tint: hsl(
    var(--aero-tint-hue-saturation) var(--aero-tint-regular-lightness)
  );
  --color-aero-tint-dark: hsl(
    var(--aero-tint-hue-saturation) var(--aero-tint-dark-lightness)
  );
  --color-aero-tint-darkest: hsl(
    var(--aero-tint-hue-saturation) var(--aero-tint-darkest-lightness)
  );
  --color-aero-tint-highlight: hsl(
    var(--aero-tint-hue-saturation) var(--aero-tint-highlight-lightness)
  );
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-open-sans), Arial, Helvetica, sans-serif;
}
